body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.head {
  text-align: center;
}

.head p {
  color: #000000;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 15px;
  font-weight: 300;
}

.head h1 {
  font-size: 34px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  font-family: sans-serif;
}

.highlight {
  color: blue;
}

.speaker-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
  margin: auto;
  width: 80%;
}

.right,
.left {
  border: 1px solid #dadada;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.speaker-list > div:nth-child(2),
.speaker-list > div:nth-child(3),
.speaker-list > div:nth-child(4),
.speaker-list > div:nth-child(5) {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
}

.speaker-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.speaker-card {
  height: 250px;
}

.speaker-card:hover {
  transform: scale(1.05);
}

.speaker-card > h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.speaker-card > p {
  margin: 5px 0;
  color: #000000;
  font-size: 1.1rem;
  margin-top: 22px;
  font-weight: 600;
}

.speaker-card > span {
  color: #6b6b6b;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
}

.cta-section {
  margin-top: 70px;
  width: 50%;
  height: 131px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 50px;
}

.cta-section .text {
  width: 150px;
  height: 42.65px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.11px;
  text-align: left;
  color: #000;
  margin-top: 30px;
}

.cta-section .cta-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  cursor: pointer;
  width: 405px;
  height: 58.9px;
  border-radius: 10px;
  font-size: 20px;
}

.cta-section .cta-btn:hover {
  background-color: #007bff;
}

.speaker-details-wrapper {
  display: none;
}

.speaker-details {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 70%;
  position: relative;
  margin: auto;
  height: 170px;
  transition: transform 0.2s;
}

.speaker-details:hover {
  transform: scale(1.05);
}

.imgDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nameDiv {
  line-height: 14px;
}

.spacebee {
  line-height: 1px;
  color: #6b6b6b;
  font-family: Metropolis;
}

.company {
  width: 220px;
  font-size: 14px;
  font-weight: 600;
  font-family: sans-serif;
}

.custom-divide {
  width: 2px;
  height: 140px;
  background-color: #ccc;
  margin: 0 20px;
}

.iconDiv {
  display: flex;
  width: 100px;
  height: 30px;
  justify-content: space-between;
}

.description {
  font-size: 18px;
  color: #000000;
  font-family: Metropolis;
}

.arrow {
  margin-left: 30%;
  margin-top: 30px;
  position: relative;
  top: -40px;
}

.speaker-details .speaker-photo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-right: 15px;
}

.speaker-details .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.3em;
  color: #888;
}




.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 80%;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.carousel {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 800%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  position: relative;
  max-width: 100%;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel__arrow {
  position: absolute;
  transform: translateY(-50%);
  height: 48px;
  width: 48px;
  background-color: white;
  border: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}
.carousel__arrow--prev {
  left: 10px;
}
.carousel__arrow--next {
  right: 10px;
}

/* Tablet view */
@media (max-width: 768px) {
  .head h1 {
    font-size: 1.8rem;
  }

  .speaker-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .right,
  .left {
    display: none;
  }

  .cta-section {
    width: 80%;
  }

  .arrow {
    margin-left: 20%;
    top: -40px;
  }

  .cta-section .cta-btn {
    width: 100%;
  }

  .speaker-details {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .imgDiv,
  .nameDiv,
  .iconDiv {
    margin-bottom: 10px;
  }

  .custom-divide {
    display: none;
  }

  .speaker-details {
    padding: 10px;
    max-width: 90%;
    height: auto;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .head h1 {
    font-size: 1.5rem;
  }

  .cta-section .text {
    font-size: 16px;
  }

  .speaker-list {
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .speaker-card {
    max-width: 90%;
  }

  .speaker-details {
    height: auto;
    padding: 10px;
    max-width: 90%;
  }

  .description {
    font-size: 16px;
    text-align: center;
  }

  .speaker-details .speaker-photo {
    width: 80px;
    height: 80px;
  }

  .arrow {
    margin-left: 10%;
    top: -40px;
  }
}
